.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#container {
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 24px;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 6px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 15px 0;
}

.list > li {
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.btn > button {
  padding: 5px;
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
}

.btn > button:hover {
  background-color: rgb(56, 82, 131);
}

.deleteBtn {
  width: 18px;
  height: 23px;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
  border-style: solid;
  border-color: rgb(153, 0, 0);
  border-radius: 6px;
}

.deleteBtn:hover {
  background-color: rgb(153, 0, 0);
}

.deleteAllBtn {
  float: right;
  text-align: center;
  cursor: pointer;
  width: 85px;
  height: 25px;
  background-color: red;
  color: white;
  border-style: solid;
  border-color: rgb(153, 0, 0);
  border-radius: 6px;
}

.deleteAllBtn:hover {
  background-color: rgb(153, 0, 0);
}